/*@import url(http://fonts.googleapis.com/css?family=Montserrat);*/

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
}

#addCard1 {
  position: absolute;
  left: 0;
}

#addCard2 {
  position: absolute;
  right: 0;
}

#game {
  position: relative;
  width: 1200;
  height: 800;
  border: 1px solid;
  margin: auto;
}

#playerHand {
  position: relative;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  float: left;
  width: 15%;
  height: 100%;
  border: 1px dotted;
}

#opponentHand {
  position: relative;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  float: right;
  width: 15%;
  height: 100%;
  border: 1px dotted;
}

#playerImage {
  float: top;
  background-image: url("images/warlock.jpg");
  width: 100%;
  height: 30%;
  z-index: 100;
}

#opponentImage {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("images/warlock.jpg");
  width: 100%;
  height: 30%;
  z-index: 101;
}

#playerHand ul {
  float: bottom;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#opponentHand ul 
{
  position: relative;
  float: top;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#playerHand li {
  position: relative;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width: 100%;
  height: 5%;
}

#cardsPlayerBoard
{
  position: relative;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#cardsPlayerBoard li {
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block;
  width: 20%;
  height: 50%;
}

#opponentHand li {
  position: relative;
  width: 100%;
  height: 5%;
}

#opponentBoard {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  float: top;
  margin-left: 15%;
  width: 70%;
  height: 50%;
  border: 1px dashed;
}

#playerBoard {
  position: relative;
  float: bottom;
  margin-left: 15%;
  width: 70%;
  height: 50%;
}

.draggable {
  position: relative;
  width: 140px;
  height: 210px;
  margin: auto;
}

.card {
  position: relative;
  /* Disabling selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* Setting border radius */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  transition: all 0.5s;
  background-image: url("images/card_background.png");
  width: 140px;
  height: 210px;
  box-shadow: 0px -5px 5px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/*
.card:hover {
  -webkit-transform: scale(2);
  transform: scale(2);

  box-shadow: -10px 10px 60px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;;
}
*/
.monsterName {
  text-align: center;
  font: 10px Consolas;
}

.monsterImgBorder {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  width: 90%;
  height: 50%;
}

.monsterImg {
  vertical-align: middle;
  left: auto;
  right: auto;
  width: 100%;
  height: 100%;
}

.monsterDescription {
  border: solid 3px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: auto;
  margin-right: auto;
  font: 8px Consolas;
  width: 90%;
  height: 25%;
}

.attackField {
  position: absolute;
  font: 10px Consolas;
  border: solid 3px;
  position: absolute;
  width: 15%;
  height: 10%;
  left: 15%;
  text-align: center;
}

.healthField {
  position: absolute;
  left: 70%;
  font: 10px Consolas;
  text-align: center;
  border: solid 3px;
  width: 15%;
  height: 10%;
}
